*   {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #7e62a5;

}

body {
    background: radial-gradient(circle, rgba(255,255,255,1) 85%, rgba(190,190,190,1) 100%);
}
.blender {
    border-radius: 100%;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 800px;
    /* background-color: red; */
    background-image: url("../img/licuadoraApagada.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.blender.active {
    background-image: url("../img/licuadoraEncendida.gif");

}

.blender-button {
    margin: 600px auto 0px;
    width: 40px;
    height: 55px;

}